<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>

    <h:form id="formPrincipal">
        <p:poll interval="3"
                listener="#{LoginController.getAlertas}" update=":formPrincipal:menu" />
        <p:menubar id="menu">
            <p:menuitem value="Usuarios" url="/adm/usuario.jsf" icon="ui-icon-wrench" />
            <p:menuitem value="Empregados" url="/adm/empregado.jsf" icon="ui-icon-person" />
            <p:menuitem value="Pacotes" url="/adm/pacote.jsf" icon="ui-icon-suitcase" />
            <p:menuitem value="Eventos" url="/adm/evento.jsf" icon="ui-icon-clock" />
            <p:menuitem value="#{LoginController.alertaTit}" style="#{LoginController.style}" url="/adm/alerta.jsf" icon="ui-icon-mail-closed" ></p:menuitem>


            <f:facet name="options">
                <b><p:outputLabel style="margin-right:10px; margin-top: 20px; " value="Usuario: "/></b>

                <p:commandLink style="margin-right:10px" value="#{LoginController.usuarioActual.nome} #{LoginController.usuarioActual.sobrenome}"/>
            </f:facet>

            <p:menuitem value="Salir" icon="ui-icon-close" actionListener="#{LoginController.salir}"/>
        </p:menubar>
    </h:form>
</ui:composition>
</html>