<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"  >
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Alertas"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="Alertas"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <p:dataTable id="tblEventos" var="alerta" value="#{AlertaController.lstAlertas}" paginator="true" style="margin: 10px 10px 10px 10px;"
                         rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50" widgetVar="eventosTable"
                         emptyMessage="Não existen dados" >

                <p:column headerText="Pacote" style="width:15%" >
                    <h:outputText value="#{alerta.pacote.nome}"/>
                </p:column>

                <p:column headerText="Mensajem" style="width:15%" >
                    <h:outputText value="#{alerta.mensajem}" />
                </p:column>
                <p:column headerText="Tipo" style="width:15%">
                    <h:outputText value="#{alerta.tipo.descricao}" />
                </p:column>



            </p:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
</html>
