<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Empregado Editar"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="#{DiaPacoteEditController.titulo}"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <p:panel id="pnlDadosPacote">
                <table cellpadding="5">
                    <tr>
                        <td>
                            <h:outputLabel for="txtLocal" value="Local: *"/>
                        </td>
                        <td>
                            <p:inputText id="txtLocal" value="#{DiaPacoteEditController.objDiaPacoteSelect.local}"
                                         label="Local"/>
                        </td>
                        <td>
                            <h:outputLabel for="txtCustoBruto" value="Custo Dia: *"/>
                        </td>
                        <td>
                            <p:inputText id="txtCustoBruto"
                                         value="#{DiaPacoteEditController.objDiaPacoteSelect.custobruto}"
                                         label="Custo Bruto">
                                <p:ajax event="keyup" update=":fPrincipal:txtCustoTotal"
                                        listener="#{DiaPacoteEditController.calculateCustoTotal}"/>
                            </p:inputText>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel for="txtPrestatario" value="Prestatario: "/>
                        </td>
                        <td>
                            <p:inputText id="txtPrestatario"
                                         value="#{DiaPacoteEditController.objDiaPacoteSelect.prestatario.nome} #{DiaPacoteEditController.objDiaPacoteSelect.prestatario.sobrenome}"
                                         label="Prestatario" readonly="true"/>
                            <p:commandButton id="btnSelectPrestatario"
                                             actionListener="#{DiaPacoteEditController.mostrarPrestatatarios}"
                                             icon="ui-icon-person" alt="Selecionar Prestatario" ajax="false"/>
                        </td>
                        <td>
                            <h:outputLabel for="txtGuia" value="Guia: "/>
                        </td>
                        <td>
                            <p:inputText id="txtGuia"
                                         value="#{DiaPacoteEditController.objDiaPacoteSelect.guia.nome} #{DiaPacoteEditController.objDiaPacoteSelect.guia.sobrenome}"
                                         label="Prestatario" readonly="true"/>
                            <p:commandButton id="btnSelectGuia" ajax="false"
                                             actionListener="#{DiaPacoteEditController.mostrarGuias}"
                                             icon="ui-icon-person" alt="Selecionar Prestatario"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel for="cbxCafe" value="Cafe: "/>
                        </td>
                        <td>
                            <p:selectOneMenu style="width: 150px" id="cbxCafe"
                                             value="#{DiaPacoteEditController.objDiaPacoteSelect.cafe}">
                                <f:selectItem itemLabel="Não" itemValue="N"/>
                                <f:selectItem itemLabel="Sim" itemValue="S"/>
                                <p:ajax update=":fPrincipal:txtCustoTotal"
                                        listener="#{DiaPacoteEditController.calculateCustoTotal}"/>
                            </p:selectOneMenu>
                        </td>
                        <td>
                            <h:outputLabel for="cbxAlmorco" value="Almorço: "/>
                        </td>
                        <td>
                            <p:selectOneMenu style="width: 150px" id="cbxAlmorco"
                                             value="#{DiaPacoteEditController.objDiaPacoteSelect.almorco}">
                                <f:selectItem itemLabel="Não" itemValue="N"/>
                                <f:selectItem itemLabel="Sim" itemValue="S"/>
                                <p:ajax update=":fPrincipal:txtCustoTotal"
                                        listener="#{DiaPacoteEditController.calculateCustoTotal}"/>
                            </p:selectOneMenu>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel for="cbxJantar" value="Jantar: "/>
                        </td>
                        <td>
                            <p:selectOneMenu style="width: 150px" id="cbxJantar"
                                             value="#{DiaPacoteEditController.objDiaPacoteSelect.jantar}">
                                <f:selectItem itemLabel="Não" itemValue="N"/>
                                <f:selectItem itemLabel="Sim" itemValue="S"/>
                                <p:ajax update=":fPrincipal:txtCustoTotal"
                                        listener="#{DiaPacoteEditController.calculateCustoTotal}"/>
                            </p:selectOneMenu>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel for="txtDescricao" value="Descriçao: "/>
                        </td>
                        <td colspan="3">
                            <p:inputTextarea id="txtDescricao"
                                             value="#{DiaPacoteEditController.objDiaPacoteSelect.descricao}"
                                             label="Descricao" rows="5" cols="45"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel for="txtCustoTotal" value="Custo: "/>
                        </td>
                        <td colspan="3">
                            <p:inputText id="txtCustoTotal" readonly="true"
                                         value="#{DiaPacoteEditController.objDiaPacoteSelect.custoTotal}"
                                         label="Local"/>
                        </td>
                    </tr>
                </table>

                <p:commandButton value="Salvar" icon="ui-icon-disk" action="#{DiaPacoteEditController.salvarDados}"
                                 ajax="false"/>
                <p:commandButton value="Voltar" icon="ui-icon-close" action="#{DiaPacoteEditController.volver}"
                                 immediate="true"
                                 ajax="false"/>
            </p:panel>
        </h:form>
        <p:dialog header="Mensaje" widgetVar="mensajeDialog" resizable="false"
                  id="dlgMensaje"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{DiaPacoteEditController.vMensaje}">
            <h:form id="formMensaje">
                <p:panel id="pnlMensaje">
                    <img src="../images/CronosLoso.png" alt="#" height="50" width="80"/>

                    <p/>
                    <p:outputLabel value="Cadastro feito"/>
                    <br/>
                    <p:commandButton id="btnCerrarMensaje" value="Aceptar"
                                     actionListener="#{DiaPacoteEditController.volver}"
                                     icon="ui-icon-check" immediate="true" ajax="false"/>
                </p:panel>
            </h:form>
        </p:dialog>
        <p:dialog header="Selecionar Empregado" widgetVar="selecionarEmpregadoDialog" resizable="false"
                  id="dlgSelecionarEmpregado"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{DiaPacoteEditController.vDlgEmpregados}">
            <h:form id="formSelecionarEmpregado">
                <p:panel id="pnlSelecionarEmpregado">
                    <p:dataTable id="tblEmpregados" var="empregado" value="#{DiaPacoteEditController.lstEmpregados}"
                                 paginator="true" style="width: 500px;"
                                 rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50"
                                 widgetVar="usuariosTable"
                                 emptyMessage="Não existen dados"
                                 filteredValue="#{DiaPacoteEditController.lstEmpregadosFilter}">


                        <p:column headerText="Nome" style="width:15%" filterBy="#{empregado.nome}">
                            <h:outputText value="#{empregado.nome}"/>
                        </p:column>
                        <p:column headerText="Sobre Nome" style="width:15%" filterBy="#{empregado.sobrenome}">
                            <h:outputText value="#{empregado.sobrenome}"/>
                        </p:column>
                        <p:column headerText="Tipo" style="width:15%" filterBy="#{empregado.tipo.descricao}">
                            <h:outputText value="#{empregado.tipo.descricao}"/>
                        </p:column>

                        <p:column style="width:5%" headerText="Selecionar">
                            <p:commandButton id="btnAtualizar"
                                             icon="ui-icon-check" title="Check Out"
                                             actionListener="#{DiaPacoteEditController.selecionarEmpregado(empregado)}"
                                             ajax="false">

                            </p:commandButton>
                        </p:column>

                    </p:dataTable>

                    <p/>

                    <br/>
                    <p:commandButton id="btnCerrarMensaje" value="Fechar"
                                     actionListener="#{DiaPacoteEditController.fecharEmpregados}"
                                     icon="ui-icon-check" immediate="true" ajax="false"/>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
</html>
