<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Empregado Editar"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="#{EmpregadoEditController.titulo}"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <table cellpadding="5" >
                <tr>
                    <td>
                        <h:outputLabel for="txtNome" value="Nome: *"/>
                    </td>
                    <td>
                        <p:inputText id="txtNome" value="#{EmpregadoEditController.objEmpregadoSelect.nome}" label="Nome"/>
                    </td>
                    <td>
                        <h:outputLabel for="txtSobrenome" value="Sobrenome: "/>
                    </td>
                    <td>
                        <p:inputText id="txtSobrenome" value="#{EmpregadoEditController.objEmpregadoSelect.sobrenome}"
                                     label="Sobrenome"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtDocId" value="Doc. ID: "/>
                    </td>
                    <td>
                        <p:inputText id="txtDocId" value="#{EmpregadoEditController.objEmpregadoSelect.docid}"
                                     label="Doc. ID"/>
                    </td>
                    <td>
                        <h:outputLabel for="txtTelefone" value="Telefone: *"/>
                    </td>
                    <td>
                        <p:inputText id="txtTelefone" value="#{EmpregadoEditController.objEmpregadoSelect.telefone}"
                                     label="Telefone"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtEmail" value="E-Mail: "/>
                    </td>
                    <td>
                        <p:inputText id="txtEmail" value="#{EmpregadoEditController.objEmpregadoSelect.email}"
                                     label="E-Mail"/>
                    </td>
                    <td>
                        <h:outputLabel for="cbxTipo" value="Tipo: *"/>
                    </td>
                    <td>
                        <p:selectOneMenu style="width: 150px" id="cbxTipo"
                                         value="#{EmpregadoEditController.objEmpregadoSelect.tipo.dominioid}">
                            <f:selectItem itemLabel="Selecione um" itemValue=""/>
                            <f:selectItems value="#{EmpregadoEditController.lstTipo}"/>
                        </p:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtEndereco" value="Endereço: "/>
                    </td>
                    <td colspan="3">
                        <p:inputText id="txtEndereco" value="#{EmpregadoEditController.objEmpregadoSelect.endereco}" style="width: 450px;"
                                     label="Endereço"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="cbxAlertas" value="Alertas: "/>
                    </td>
                    <td>
                        <p:selectOneMenu style="width: 150px" id="cbxAlertas"
                                         value="#{EmpregadoEditController.objEmpregadoSelect.alertas}">
                            <f:selectItem itemLabel="Não" itemValue="N"/>
                            <f:selectItem itemLabel="Sim" itemValue="S"/>
                        </p:selectOneMenu>
                    </td>
                </tr>
            </table>

            <p:commandButton value="Salvar" icon="ui-icon-disk" action="#{EmpregadoEditController.salvarDados}"
                             ajax="false"/>
            <p:commandButton value="Voltar" icon="ui-icon-close" action="#{EmpregadoEditController.volver}"
                             immediate="true"
                             ajax="false"/>
        </h:form>
        <p:dialog header="Mensaje" widgetVar="mensajeDialog" resizable="false"
                  id="dlgMensaje"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{EmpregadoEditController.vMensaje}">
            <h:form id="formMensaje">
                <p:panel id="pnlMensaje">
                    <img src="../images/CronosLoso.png" alt="#" height="50" width="80"/><p/>
                    <p:outputLabel value="Cadastro feito"/>
                    <br/>
                    <p:commandButton id="btnCerrarMensaje" value="Aceptar" actionListener="#{EmpregadoEditController.volver}"
                                     icon="ui-icon-check" immediate="true" ajax="false"/>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
</html>
