<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"  >
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Eventos"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="Eventos"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <p:commandButton value="novo evento" icon="ui-icon-plus" action="#{EventoController.atulizarEvento(null)}"/>
            <p:dataTable id="tblEventos" var="evento" value="#{EventoController.lstEventos}" paginator="true" style="margin: 10px 10px 10px 10px;"
                         rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50" widgetVar="eventosTable"
                         emptyMessage="Não existen dados" filteredValue="#{EventoController.lstEventosFilter}">

                <p:column headerText="Data Inicio" style="width:15%" filterBy="#{EventoController.dateToStringShort(evento.datainicio)}">
                    <h:outputText value="#{EventoController.dateToStringShort(evento.datainicio)}"/>
                </p:column>
                <p:column headerText="Data Fim" style="width:15%" filterBy="#{EventoController.dateToStringShort(evento.datafim)}">
                    <h:outputText value="#{EventoController.dateToStringShort(evento.datafim)}"/>
                </p:column>
                <p:column headerText="Empregado" style="width:15%" filterBy="#{evento.empregado.nome}">
                    <h:outputText value="#{evento.empregado.nome} #{evento.empregado.sobrenome}"/>
                </p:column>
                <p:column headerText="Descricao" style="width:15%">
                    <h:outputText value="#{evento.descricao}" />
                </p:column>

                <p:column style="width:5%" headerText="Editar">
                    <p:commandButton id="btnEditar"
                                     icon="ui-icon-pencil" title="Editar"
                                     actionListener="#{EventoController.atulizarEvento(evento)}"
                                     ajax="false">

                    </p:commandButton>
                </p:column>

            </p:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
</html>
