<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Empregado Editar"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="#{EventoEditController.titulo}"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <table cellpadding="5">
                <tr>
                    <td>
                        <h:outputLabel for="calDataInicio" value="Data Inicio: "/>
                    </td>
                    <td>
                        <p:calendar id="calDataInicio" value="#{EventoEditController.objEventoSelect.datainicio}"
                                    pattern="dd/MM/yyyy"
                                    label="Data Inicio"/>
                    </td>
                    <td>
                        <h:outputLabel for="calDataFim" value="Data Fim: "/>
                    </td>
                    <td>
                        <p:calendar id="calDataFim" value="#{EventoEditController.objEventoSelect.datafim}"
                                    pattern="dd/MM/yyyy"
                                    label="Data Fim"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtDescricao" value="Descriçao: "/>
                    </td>
                    <td colspan="3">
                        <p:inputTextarea id="txtDescricao"
                                         value="#{EventoEditController.objEventoSelect.descricao}"
                                         label="Descricao" rows="5" cols="45"/>
                    </td>
                </tr>
            </table>
            <p:panel id="pnlEmpregado" header="Dados Empregado">
                <table>
                    <tr>
                        <td>
                            <h:outputLabel for="txtPrestatario" value="Prestatario: "/>
                        </td>
                        <td>
                            <p:inputText id="txtPrestatario"
                                         value="#{EventoEditController.objEventoSelect.empregado.nome} #{EventoEditController.objEventoSelect.empregado.sobrenome}"
                                         label="Prestatario" readonly="true"/>
                            <p:commandButton id="btnSelectPrestatario"
                                             actionListener="#{EventoEditController.mostrarEmpregados}"
                                             icon="ui-icon-person" alt="Selecionar Prestatario" ajax="false"/>
                        </td>
                    </tr>
                </table>
            </p:panel>

            <p:commandButton value="Salvar" icon="ui-icon-disk" action="#{EventoEditController.salvarDados}"
                             ajax="false"/>
            <p:commandButton value="Voltar" icon="ui-icon-close" action="#{EventoEditController.volver}"
                             immediate="true"
                             ajax="false"/>
        </h:form>
        <p:dialog header="Mensaje" widgetVar="mensajeDialog" resizable="false"
                  id="dlgMensaje"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{EventoEditController.vMensaje}">
            <h:form id="formMensaje">
                <p:panel id="pnlMensaje">
                    <img src="../images/CronosLoso.png" alt="#" height="50" width="80"/>

                    <p/>
                    <p:outputLabel value="Cadastro feito"/>
                    <br/>
                    <p:commandButton id="btnCerrarMensaje" value="Aceptar"
                                     actionListener="#{EventoEditController.volver}"
                                     icon="ui-icon-check" immediate="true" ajax="false"/>
                </p:panel>
            </h:form>
        </p:dialog>
        <p:dialog header="Selecionar Empregado" widgetVar="selecionarEmpregadoDialog" resizable="false"
                  id="dlgSelecionarEmpregado"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{EventoEditController.vDlgEmpregados}">
            <h:form id="formSelecionarEmpregado">
                <p:panel id="pnlSelecionarEmpregado">
                    <p:dataTable id="tblEmpregados" var="empregado" value="#{EventoEditController.lstEmpregados}"
                                 paginator="true" style="width: 500px;"
                                 rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50"
                                 widgetVar="usuariosTable"
                                 emptyMessage="Não existen dados"
                                 filteredValue="#{EventoEditController.lstEmpregadosFilter}">


                        <p:column headerText="Nome" style="width:15%" filterBy="#{empregado.nome}">
                            <h:outputText value="#{empregado.nome}"/>
                        </p:column>
                        <p:column headerText="Sobre Nome" style="width:15%" filterBy="#{empregado.sobrenome}">
                            <h:outputText value="#{empregado.sobrenome}"/>
                        </p:column>
                        <p:column headerText="Tipo" style="width:15%" filterBy="#{empregado.tipo.descricao}">
                            <h:outputText value="#{empregado.tipo.descricao}"/>
                        </p:column>

                        <p:column style="width:5%" headerText="Selecionar">
                            <p:commandButton id="btnAtualizar"
                                             icon="ui-icon-check" title="Check Out"
                                             actionListener="#{EventoEditController.selecionarEmpregado(empregado)}"
                                             ajax="false">

                            </p:commandButton>
                        </p:column>

                    </p:dataTable>

                    <p/>

                    <br/>
                    <p:commandButton id="btnCerrarMensaje" value="Fechar"
                                     actionListener="#{DiaPacoteEditController.fecharEmpregados}"
                                     icon="ui-icon-check" immediate="true" ajax="false"/>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
</html>
