<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"  >
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Pacotes"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="Pacotes"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <p:commandButton value="novo pacote" icon="ui-icon-plus" action="#{PacoteController.atulizarPacote(null)}"/>
            <p:dataTable id="tblUsuarios" var="pacote" value="#{PacoteController.lstPacotes}" paginator="true" style="margin: 10px 10px 10px 10px;"
                         rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50" widgetVar="pacotesTable"
                         emptyMessage="Não existen dados" filteredValue="#{PacoteController.lstPacotesFilter}">
                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Dado para procurar:" />
                        <p:inputText id="globalFilter" onkeyup="pacotesTable.filter()" style="width:150px" />
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="Nome" style="width:15%" filterBy="#{pacote.nome}">
                    <h:outputText value="#{pacote.nome}"/>
                </p:column>
                <p:column headerText="Tipo" style="width:15%" filterBy="#{pacote.tipo.descricao}">
                    <h:outputText value="#{pacote.tipo.descricao}"/>
                </p:column>
                <p:column headerText="Data inicio" style="width:15%">
                    <h:outputText value="#{PacoteController.dateToStringShort(pacote.dataInicio)}"/>
                </p:column>
                <p:column headerText="Data Fim" style="width:15%">
                    <h:outputText value="#{PacoteController.dateToStringShort(pacote.dataFim)}"/>
                </p:column>
                <p:column headerText="Descriçao" style="width:15%">
                    <h:outputText value="#{PacoteController.formatDescricao(pacote.descricao)}"/>
                </p:column>

                <p:column style="width:5%" headerText="Editar">
                    <p:commandButton id="btnAtualizar"
                                     icon="ui-icon-pencil" title="Check Out"
                                     actionListener="#{PacoteController.atulizarPacote(pacote)}"
                                     ajax="false">

                    </p:commandButton>
                </p:column>

            </p:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
</html>
