<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Empregado Editar"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="#{PacoteEditController.titulo}"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <p:panel id="pnlDadosPacote">
            <table cellpadding="5" >
                <tr>
                    <td>
                        <h:outputLabel for="txtNome" value="Nome: *"/>
                    </td>
                    <td>
                        <p:inputText id="txtNome" value="#{PacoteEditController.objPacoteSelect.nome}" label="Nome"/>
                    </td>
                    <td>
                        <h:outputLabel for="cbxTipo" value="Tipo: *"/>
                    </td>
                    <td>
                        <p:selectOneMenu style="width: 150px" id="cbxTipo"
                                         value="#{PacoteEditController.objPacoteSelect.tipo.dominioid}">
                            <f:selectItem itemLabel="Selecione um" itemValue=""/>
                            <f:selectItems value="#{PacoteEditController.lstTipo}"/>
                        </p:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="calDataInicio" value="Data Inicio: "/>
                    </td>
                    <td>
                        <p:calendar id="calDataInicio" value="#{PacoteEditController.objPacoteSelect.dataInicio}"  pattern="dd/MM/yyyy"
                                     label="Data Inicio"/>
                    </td>
                    <td>
                        <h:outputLabel for="calDataFim" value="Data Fim: "/>
                    </td>
                    <td>
                        <p:calendar id="calDataFim" value="#{PacoteEditController.objPacoteSelect.dataFim}"  pattern="dd/MM/yyyy"
                                    label="Data Fim"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtDescricao" value="Descriçao: "/>
                    </td>
                    <td colspan="3">
                        <p:inputTextarea id="txtDescricao" value="#{PacoteEditController.objPacoteSelect.descricao}"
                                     label="Descricao" rows="5" cols="45"/>
                    </td>

                </tr>

            </table>

            <p:commandButton value="Salvar" icon="ui-icon-disk" action="#{PacoteEditController.salvarDados}"
                             ajax="false"/>
            <p:commandButton value="Voltar" icon="ui-icon-close" action="#{PacoteEditController.volver}"
                             immediate="true"
                             ajax="false"/>
            </p:panel>
            <p:panel id="pnlDiasPacote" header="Dias Pacote" visible="#{PacoteEditController.vDlgDiaPacote}">
                <p:commandButton value="novo dia" icon="ui-icon-plus" action="#{PacoteEditController.atualizarDiaPacote(null)}"/>
                <p:dataTable id="tblUsuarios" var="diapacote" value="#{PacoteEditController.lstDiasPacote}" paginator="true" style="margin: 10px 10px 10px 10px;"
                             rows="20" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50" widgetVar="pacotesTable"
                             emptyMessage="Não existen dias para este pacote" >

                    <p:column headerText="Local" style="width:15%">
                        <h:outputText value="#{diapacote.local}"/>
                    </p:column>
                    <p:column headerText="Guia" style="width:15%">
                        <h:outputText value="#{diapacote.guia.nome} #{diapacote.guia.sobrenome}"/>
                    </p:column>
                    <p:column headerText="Prestatario" style="width:15%">
                        <h:outputText value="#{diapacote.prestatario.nome} #{diapacote.prestatario.sobrenome}"/>
                    </p:column>
                    <p:column headerText="Cafe" style="width:5%">
                        <h:outputText value="#{diapacote.cafe}"/>
                    </p:column>
                    <p:column headerText="Almorço" style="width:5%">
                        <h:outputText value="#{diapacote.almorco}"/>
                    </p:column>
                    <p:column headerText="Jantar" style="width:5%">
                        <h:outputText value="#{diapacote.jantar}"/>
                    </p:column>
                    <p:column headerText="Custo" style="width:20%">
                        <h:outputText value="#{diapacote.custoTotal}"/>
                    </p:column>
                    <p:column style="width:5%" headerText="Editar">
                        <p:commandButton id="btnAtualizar"
                                         icon="ui-icon-pencil" title="Check Out"
                                         actionListener="#{PacoteEditController.atualizarDiaPacote(diapacote)}"
                                         ajax="false">

                        </p:commandButton>
                    </p:column>

                </p:dataTable>

            </p:panel>
        </h:form>
        <p:dialog header="Mensaje" widgetVar="mensajeDialog" resizable="false"
                  id="dlgMensaje"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{PacoteEditController.vMensaje}">
            <h:form id="formMensaje">
                <p:panel id="pnlMensaje">
                    <img src="../images/CronosLoso.png" alt="#" height="50" width="80"/><p/>
                    <p:outputLabel value="Cadastro feito"/>
                    <br/>
                    <p:commandButton id="btnCerrarMensaje" value="Aceptar" actionListener="#{PacoteEditController.fecharMensaje}"
                                     icon="ui-icon-check" immediate="true" ajax="false"/>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
</html>
