<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Usuarios"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="#{UsuarioEditController.titulo}"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <table cellpadding="5" >
                <tr>
                    <td>
                        <h:outputLabel for="txtNome" value="Nome: *"/>
                    </td>
                    <td>
                        <p:inputText id="txtNome" value="#{UsuarioEditController.objUsuarioSelect.nome}" label="Nome"/>
                    </td>
                    <td>
                        <h:outputLabel for="txtSobrenome" value="Sobrenome: "/>
                    </td>
                    <td>
                        <p:inputText id="txtSobrenome" value="#{UsuarioEditController.objUsuarioSelect.sobrenome}"
                                     label="Sobrenome"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtDocId" value="Doc. ID: "/>
                    </td>
                    <td>
                        <p:inputText id="txtDocId" value="#{UsuarioEditController.objUsuarioSelect.docid}"
                                     label="Doc. ID"/>
                    </td>
                    <td>
                        <h:outputLabel for="txtTelefone" value="Telefone: *"/>
                    </td>
                    <td>
                        <p:inputText id="txtTelefone" value="#{UsuarioEditController.objUsuarioSelect.telefone}"
                                     label="Telefone"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtEmail" value="E-Mail: "/>
                    </td>
                    <td>
                        <p:inputText id="txtEmail" value="#{UsuarioEditController.objUsuarioSelect.email}"
                                     label="E-Mail"/>
                    </td>
                    <td>
                        <h:outputLabel for="cbxTipo" value="Tipo: *"/>
                    </td>
                    <td>
                        <p:selectOneMenu style="width: 150px" id="cbxTipo"
                                         value="#{UsuarioEditController.objUsuarioSelect.tipo.dominioid}">
                            <f:selectItem itemLabel="Selecione um" itemValue=""/>
                            <f:selectItems value="#{UsuarioEditController.lstTipo}"/>
                        </p:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtEndereco" value="Endereço: "/>
                    </td>
                    <td colspan="3">
                        <p:inputText id="txtEndereco" value="#{UsuarioEditController.objUsuarioSelect.endereco}" style="width: 450px;"
                                     label="Endereço"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h:outputLabel for="txtNomeUsuario" value="Nome Usuario: *"/>
                    </td>
                    <td>
                        <p:inputText id="txtNomeUsuario" value="#{UsuarioEditController.objUsuarioSelect.nomeusuario}"
                                     label="Nome Usuario do Sistema"/>
                    </td>
                    <td>
                        <h:outputLabel for="cbxAtivo" value="Ativo: "/>
                    </td>
                    <td>
                        <p:selectOneMenu style="width: 150px" id="cbxAtivo"
                                         value="#{UsuarioEditController.objUsuarioSelect.ativo}">
                            <f:selectItem itemLabel="Sim" itemValue="S"/>
                            <f:selectItem itemLabel="Não" itemValue="N"/>
                        </p:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel for="txtPrimera" value="Senha: *"/>
                    </td>
                    <td>
                        <p:password id="txtPrimera" value="#{UsuarioEditController.objUsuarioSelect.senha}" label="Senha inicio"
                                    redisplay="true"/>
                    </td>
                    <td>
                        <h:outputLabel for="txtSenhaRepetir" value="Repetir Senha: *"/>
                    </td>
                    <td>
                        <p:password id="txtSenhaRepetir" value="#{UsuarioEditController.objUsuarioSelect.senha2}"
                                    label="Repetir Senha" redisplay="true"/>
                    </td>
                </tr>

            </table>

            <p:commandButton value="Salvar" icon="ui-icon-disk" action="#{UsuarioEditController.salvarDados}"
                             ajax="false"/>
            <p:commandButton value="Voltar" icon="ui-icon-close" action="#{UsuarioEditController.volver}"
                             immediate="true"
                             ajax="false"/>
        </h:form>
        <p:dialog header="Mensaje" widgetVar="mensajeDialog" resizable="false"
                  id="dlgMensaje"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{UsuarioEditController.vMensaje}">
            <h:form id="formMensaje">
                <p:panel id="pnlMensaje">
                    <img src="../images/CronosLoso.png" alt="#" height="50" width="80"/><p/>
                    <p:outputLabel value="Cadastro feito"/>
                    <br/>
                    <p:commandButton id="btnCerrarMensaje" value="Aceptar" actionListener="#{UsuarioEditController.volver}"
                                     icon="ui-icon-check" immediate="true" ajax="false"/>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
</html>
