<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"  >
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Usuarios"/>
    </ui:define>
    <ui:define name="content">
        <h1><h:outputText id="lblTitulo" value="Usuarios"/></h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <p:commandButton value="novo usuario" icon="ui-icon-plus" action="#{UsuarioController.atulizarUsuario(null)}"/>
            <p:dataTable id="tblUsuarios" var="usuario" value="#{UsuarioController.lstUsuarios}" paginator="true" style="margin: 10px 10px 10px 10px;"
                         rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50" widgetVar="usuariosTable"
                         emptyMessage="Não existen dados" filteredValue="#{UsuarioController.lstUsuariosFilter}">
                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Dado para procurar:" />
                        <p:inputText id="globalFilter" onkeyup="usuariosTable.filter()" style="width:150px" />
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="Nome" style="width:15%" filterBy="#{usuario.nome}">
                    <h:outputText value="#{usuario.nome}"/>
                </p:column>
                <p:column headerText="Sobre Nome" style="width:15%" filterBy="#{usuario.sobrenome}">
                    <h:outputText value="#{usuario.sobrenome}"/>
                </p:column>
                <p:column headerText="Nome Sistema" style="width:15%" filterBy="#{usuario.nomeusuario}">
                    <h:outputText value="#{usuario.nomeusuario}"/>
                </p:column>
                <p:column headerText="Telefone" style="width:15%">
                    <h:outputText value="#{usuario.telefone}"/>
                </p:column>
                <p:column headerText="E-Mail" style="width:15%">
                    <h:outputText value="#{usuario.email}"/>
                </p:column>
                <p:column headerText="Tipo" style="width:15%" filterBy="#{usuario.tipo.descricao}">
                    <h:outputText value="#{usuario.tipo.descricao}"/>
                </p:column>
                <p:column headerText="Ativo" style="width:15%" filterBy="#{usuario.ativo == 'S' ? 'Sim':'Não'}">
                    <h:outputText value="#{usuario.ativo == 'S' ? 'Sim':'Não'}"/>
                </p:column>
                <p:column style="width:5%" headerText="Editar">
                    <p:commandButton id="btnAtualizar"
                                     icon="ui-icon-pencil" title="Check Out"
                                     actionListener="#{UsuarioController.atulizarUsuario(usuario)}"
                                     ajax="false">

                    </p:commandButton>
                </p:column>

            </p:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
</html>
